@font-face
{
	font-family:"Segoe-Ui";
	src:url("font/segoeui.ttf") format("truetype");
}
@font-face
{
	font-family:"Segoe-Script";
	src:url("font/segoesc.ttf") format("truetype");
}

body
{
    padding: 0;
    margin: 0;
    border: 0;
	background:url("img/surfbg.jpg");
}

.title {
    z-index: -1;
    position:absolute;
    margin-top:0;
    top:0;
    padding: 0;
    margin: 0;
    width:100%;
    height:100%;
    background:url("img/shirtsbg.jpg");
    
    box-shadow: 0px 2px 10px 
}

.ph1 {
    font-family: "Segoe-Ui";
    text-align: center;
    font-size:10vw;
    margin-bottom:0;
    color:#fff;
}

.ph2 {
    font-family: "Segoe-Script";
    text-align: center;
    font-size:5vw;
    margin-top:20px;
    color:#fff;
}

.about {
    position:absolute;
    width:100%;
    height:512px;
    top:100%;
    background:#fff;
}

h1 {
    font-family: "Segoe-Ui";
    text-align: center;
    font-size:5vw;
    margin-bottom:0;
}

.center3 {
    font-family: "Segoe-Ui";
    text-align: center;
    font-size:3vw;
    margin-top:0;
    margin-bottom:0;
}

.center2 {
    font-family: "Segoe-Ui";
    text-align: center;
    font-size:2vw;
    margin-top:0;
    margin-bottom:0;
}
